body {
    font-family: Arial, Helvetica, sans-serif;
}

#content-box {
    display: flex;
    border: 10px solid lightgray;
    background-color: #4c9fad;
    border-radius: 10px;
    display: flex;
    margin: 0 auto;

}

#pokemon-info {
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
    width: 400px;
    height: 200px;
    /* background-color: cyan; */
}

#pokemon-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 3%;
    width: 100%;
    font-size: 18px;
    overflow-y: auto;
    padding: 0 40px;

}

.pokemon-card {
    width: 400px;
    border: 5PX solid rgb(83, 79, 79);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px;
    margin-left: 10px;

}

#pokemon-info img {
    width: 160px;
    height: 160px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
}

#pokemon-types {
    margin-top: 10px;
}

.type-box {
    padding: 3px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
}


.normal {
    background-color: beige;
    color: black;
}

.fire {
    background-color: orange;
    color: white;
}

.grass {
    background-color: green;
    color: white;
}

.water {
    background-color: blue;
    color: white;
}

.ice {
    background-color: lightblue;
    color: black;
}

.electric {
    background-color: gold;
    color: black;
}

.fighting {
    background-color: darkred;
    color: white;
}

.flying {
    background-color: skyblue;
    color: black;
}

.bug {
    background-color: yellowgreen;
    color: white;
}

.ghost {
    background-color: purple;
    color: white;
}

.rock {
    background-color: sienna;
    color: white;
}

.ground {
    background-color: burlywood;
    color: black;
}

.steel {
    background-color: silver;
    color: black;
}

.dark {
    background-color: darkgray;
    color: white;
}

.psychic {
    background-color: palevioletred;
    color: white;
}

.fairy {
    background-color: pink;
    color: black;
}

.dragon {
    background-color: teal;
    color: white;
}

.poison {
    background-color: darkviolet;
    color: white;
}

.content-header {
    background-color: #8a8a8a;
}

.logo {
    width: 200px;
    margin: 0 auto;
    padding: 0;
}

.logo img {
    width: 200px;
}

.searchPokemon {
    text-align: center;
    padding-bottom: 20px;

}

.searchPokemon input {
    background: transparent;
    border: none;
    padding: 16px;
    border-bottom: solid 2px #fbff00;
    font-size: 16px;
    color: #fff;
    width: 60%;
    transition: all 1s ease;
    right: 0;
    font-weight: bold;
}

.searchPokemon input::placeholder {
    color: #fbff00;
    font-weight: bold;
}

.searchPokemon input:focus {
    outline: none;
    border-color: #fff;
}

button.button-search {
    background: #fff;
    box-shadow: 0 0 0 3px #fff;
    cursor: pointer;
    width: 130px;
    border-radius: 21px;
    padding: 4px;
    color: #A6131E;
    font-weight: bold;
    transition: 0.6s;
}

button.button-search img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

button.button-search:focus {
    outline: none;
}

.button-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button.button-search:active {
    transform: scale(1.1);
}

.pokemons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon {
    font-family: 'Cantarell', sans-serif;
    font-weight: bold;
    color: #A6131E;
    display: flex;
    background: #fff;
    border: 1px solid #e1e1e1;
    width: 30%;
    height: 168px;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
    cursor: pointer;
    min-width: 450px;
    max-width: 450px;
}


.pokemon:hover {
    border-color: #A6131E;
}

.pokemon img {
    width: 150px;
    height: 150px;
    padding-bottom: 20px;
    background-color: #d7c19e;
}

.pokemon-details {
    margin-left: 10px;
    width: 100%;
}

.species {
    display: flex;
    justify-content: space-around;
    font-size: 1.4em;
    color: #e2e2e2;
}

.species-title {
    color: #e3e355;
}

.actived {
    color: #A6131E;
}

.name-pokemon,
p,
h1,
h2 {
    margin: 0;
    padding: 0;
}

#pokemon-description {
    width: 230px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;

    margin: 0 auto;
    margin-top: 10px;
    padding: 2px;
    font-size: 18px;
    overflow-y: auto;
}

.background {
    background-color: #8a8a8a;
}








.pokebola {
    position: fixed;
    width: 120px;
    height: 120px;
    background-color: #FFF;
    border: 2px solid #000;
    border-radius: 50%;
    box-shadow: inset -10px 10px 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left: 8.5rem;
    margin-top: 2.3rem;
    z-index: -1;
    opacity: 25%;

}

.pokebola:before,
.pokebola:after {
    content: "";
    position: absolute;
}

.pokebola:before {
    background-color: #EF4036;
    width: 100%;
    height: 50%;

}

.pokebola-botao {
    width: 33%;
    height: 33%;
    background-color: #FFF;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    z-index: 10;
}

.card {
    width: 20rem;
    min-width: 20rem;
    border: 5px solid black;
    border-radius: 30px;
    padding: 0;
    box-shadow: 2px 5px 5px #b4b4b4;


}

.cardGame {
    width: 20rem;
    background-color: #8a8a8a;
    color: rgba(0, 0, 0, 0.8);

}

.types {
    border-radius: 20px;
    padding: 0.2rem;
    text-align: center;
}

.normal {
    background-color: #75525C;
}

.bug {
    background-color: #1C4B27;
}

.grass {
    background-color: #75D984;
    box-shadow: inset 2px 2px 2px 2px #33D14C;

}

.grassGround {
    background-color: #33D14C;


}

.text-muted {
    color: #e3e355 !important;
}

.p-3 {
    border-bottom: 2px solid rgb(83, 79, 79);
    padding: 30px;
    background-color: #e3e355;

}


.nav-border {
    border-bottom: 2px solid rgb(83, 79, 79);
    border-top: 2px solid rgb(83, 79, 79);
    margin: 20px;
    padding: 10px;
}

.pokemon-name-txt {
    color: rgb(0, 0, 0);

}

div.card.grassGround {
    border: 5px solid rgb(83, 79, 79);
}